.App{
  min-height: 100vh;
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: #121212;
  color: white;
}

.App.dark .bg-white {
  background-color: #333 !important;
  border-color: #444 !important;
}

.App.dark .btn-light {
  background-color: #444;
  color: white;
}

.App.dark .table-bordered {
  border-color: #444;
  background-color: #333;
  color: white;
}

.App.dark .table-bordered th,
.App.dark .table-bordered td {
  border-color: #444;
  background-color: #333;
  color: white;
}

.App.dark .table {
  background-color: #333;
}

